body{
    background: rgb(38, 126, 226);
    font:normal 15pt arial;
}

header{
    color: white;
    text-align: center;
}

section{
background:white;
border-radius:10px ;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637);
}

footer{
    font:normal 15px Pristina;
    color: white;
    text-align: center;
}